.container
  .row
    %header
      %h3 Trials
    %ul
      - @trials.each do |trial|
        %li.row
          .col-sm-2
            %h3= link_to trial.name, fix_url(trial.url)
        %li.row
          .col-sm-2
            %p= link_to "Cancel Trial", fix_url(trial.cancel_url)
        %li.row
          .col-sm-2
            %p= "Trial expires: #{trial.expiration_date}"
        %li.row
          .col-xs-1
            %p= link_to "Edit", edit_trial_path(trial)
          .col-xs-1
            %p= link_to "Delete", { action: :destroy, id: trial.id }, method: :delete, data: { confirm: 'Are you sure?' }
            %hr
