= bootstrap_form_for(@trial, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6") do |f|
  %header
    %h1 Add trial
  %fieldset
    = f.text_field :name, label: "Name of Trial"
    = f.text_field :url, label: "Url to Service"
    = f.text_field :cancel_url, label: "Url to Cancel"
    = f.text_area :instructions, label: "Instructions on how to cancel"
    = f.text_field :expiration_date, label: "Date trial expires"
  %fieldset.action.control-group
    .controls
      %input(type="submit" value="Add Trial" class="btn btn-default")
