%nav.navbar.navbar-default.navbar-fixed-top
  .container
    %navbar.header
      %ul.nav.navbar-nav
        %li= link_to "Login", login_path
        %li= link_to "Logout", logout_path
        %li= link_to "Register", register_path
        %li= link_to "Add Trial", new_trial_path
        %li= link_to "Index", trials_path
